*{
    margin: 0 ;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url("../image/fundo_estoque2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: white;
    box-sizing: 3px 3px 5px rgba(0,0,0,0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}

nav li:first-child{
    margin-right: auto;
}


.sidebar{
    position:  fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    /*background-color: white;*/
    box-shadow: -10 0 10px rgba(0, 0, 0, 0.1);

    /*Tratando o conteudo do sidebar*/
    display: none;               /*Depois vamos usar o none para esconder a sidebar quando adicionarmos o icone*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    background-color: rgba(255, 255, 255, 0.2);   /*transparencia, desabilitar o backgroud de cima*/
    backdrop-filter: blur(10px);
}

.sidebar li{
    width: 100%;
}
.sidebar a {
    width: 100%;
}


/*esconder o menu hmburgue quando a pagina estiver grande*/
.menu-button{
    display: none;
}




.footer {
    position:fixed;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: #f3f3f3;
    color: black;
    text-align: center;
    padding: 10px 0;
    z-index: 100;
    
}


/* Responsividade da pagina */

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    /*mostra o menu ja colapsado*/
    .menu-button{
        display: block;
    }
}

@media(max-width: 475px){
    .sidebar{
        width: 100%;
    }
   
}


.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}