{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema Controle Estoque{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <ul class="sidebar">
            <li onclick="hideSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Estoque</a></li>
            <li><a href="#">Compras</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Fornecedores</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Login</a></li>
        </ul>

        <ul>
            <li class="logo"><a href="#">ITPRO-ESTOQUE</a></li>
            <li class="hideOnMobile"><a href="">Home</a></li>
            <li class="hideOnMobile"><a href="">Estoque</a></li>
            <li class="hideOnMobile"><a href="">Compras</a></li>
            <li class="hideOnMobile"><a href="">Pedidos</a></li>
            <li class="hideOnMobile"><a href="">Fornecedores</a></li>
            <li class="hideOnMobile"><a href="">Clientes</a></li>
            <li class="hideOnMobile"><a href="">Login</a></li>
            <li class="menu-button"  onclick="showSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#5f6368"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>

    </nav>

    <div class="container">
        {% block content %}
        <!-- Conteúdo específico da página vai aqui -->

        {% endblock %}
    </div>

    <footer class="footer">
        <p>&copy; 2024 Controle de Estoque. Criado por Douglas.</p>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>
    
</body>
</html>