{% extends 'estoque_fab_app/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div>
    <h1>Home</h1>
    <br>
    <section class="products">
        <h2>Produtos em Destaque</h2>
        <div class="product-grid">
          <div class="product-card">
            <img src="images/bike.png" alt="Produto 1">
            <h3>Produto 1</h3>
            <p>R$ 100,00</p>
            <button>Comprar</button>
          </div>
          <div class="product-card">
            <img src="images/carro.png" alt="Produto 2">
            <h3>Produto 2</h3>
            <p>R$ 150,00</p>
            <button>Comprar</button>
          </div>
          <div class="product-card">
            <img src="images/moto.png" alt="Produto 3">
            <h3>Produto 3</h3>
            <p>R$ 200,00</p>
            <button>Comprar</button>
          </div>
          <div class="product-card">
            <img src="images/skate.png" alt="Produto 4">
            <h3>Produto 4</h3>
            <p>R$ 250,00</p>
            <button>Comprar</button>
          </div>
        </div>
      </section>

  

</div>



{% endblock %}